{% extends 'main/base.html' %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">.</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'kpilist' %}">เลือกรายการเพื่อดูคำอธิบาย</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<!-- [ accordion-collapse ] start -->
			<div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> รายการตัวชี้วัด KPI ที่ต้องบันทึกปี 2563</h5>
						<hr>     
                  
                        {% for key in index  %}

                            <div class="accordion" id="accordionExample">
                                <div class="card mb-0">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0"><a href=" {% url 'detail' key.pk %} " class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="">{{key.name}}</a></h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
											<h5>กลุ่มงาน:&nbsp;{{key.group}}</h5><br/><br/>
									
											<a href=" {% url 'detail' key.pk %} "><button type="button" class="btn  btn-primary">คำอธิบาย KPI</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

						{% endfor %}

					<!--Pagination start-->

					<!--Pagination end-->
					</div>
                </div>
			</div>
			<!-- [ accordion-collapse ] end -->
			
		</div>
		<!-- [ Main Content ] end -->
	</div>
</div>
<!-- [ Main Content ] end -->
 {% endblock content %}