{% extends 'main/base2.html' %}
 
{% block content %}
  <table class="table table-striped custab">
    <thead>
  <a href="{% url 'person_add' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new Person</a>
        <tr>
        <th>fname</th>
        <th>lname</th>
        <th>Birthdate</th>
        <th>Country</th>
        <th>City</th>
  <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td><a href="{% url 'person_update' person.pk %}">{{ person.fname }}</a></td>
          <td><a href="{% url 'person_update' person.pk %}">{{ person.lname }}</a></td>
          <td>{{ person.birth }}</td>
          <td>{{ person.country.name }}</td>
          <td>{{ person.city.name }}</td>
          <td class="text-center">
            <a class='btn btn-info btn-xs' href="{% url 'person_update' person.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a class="btn btn-danger btn-xs" href="#"><span class="glyphicon glyphicon-remove"></span> Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No person in the database. <a href="{% url 'person_add' %}">Add the first person</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}